@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

body {
	position: relative;
	background: #f9eeff;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: 'WorkSans';

	.bg-top {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 35.6666%;
		background: url(../images/background-pattern-desktop.svg) no-repeat center center /cover;
	}
	.mobile-br {
		display: none;
	}
	.faq-container {
		width: 600px;
		height: 567px;
		border-radius: 15px;
		box-shadow: -5px 12px 27px -2px #5400753f;
		background: #fff;
		z-index: 2;
		padding: 56px 40px 45px;

		&__title {
			position: relative;
			padding-left: 70px;
			height: 51px;
			font-weight: 700;
			font-size: 51px;
			line-height: 51px;
			color: #321438;
		
			&:before {
			content: '';
			position: absolute;
			top: 4px;
			left: 1px;
			width: 38px;
			height: 38px;
			background: url(../images/icon-star.svg)no-repeat center center /contain;
			}
		}

		&__content { 
			.faq-container__item {
				border-bottom : 1px solid #f8f7fc;
				.faq-container__faq-title {
					position: relative;
					width: 100%;
					height: 77px;
					line-height: 20px;
					font-size: 16px;
					font-weight: 700;
					color: #321438;
					display: flex;
					align-items: center;

					&:after {
						content: '';
						position: absolute;
						top: 26px;
						right: 0;
						width: 25px;
						height: 25px;
						background: url(../images/icon-plus.svg) no-repeat 0 0 /contain;
					}
					&:hover{
						color: #9f3bd3;
					}
				}
				.faq-container__faq-answer {
					max-height: 0;
					overflow: hidden;
				}
				&.is-active {
					.faq-container__faq-title {
						&:after{
							background: url(../images/icon-minus.svg) no-repeat 0 0 /contain;
						}
					}
					.faq-container__faq-answer {
						padding-bottom: 30px;
						max-height: 1000px;
						transition: max-height 0.3s linear;
					}
				}
			}
		}
	}
}
@media (max-width : 700px) {
	body {
		align-items: start;

		.faq-container {
			margin: 50px 24px;
			height: auto;
		}
	}
}
@media (max-width : 525px) {
	body {
		.mobile-br {
			display: block;
		}
	}
}
